.btn {
    padding: 10px 20px;
    font-size: var(--body-font-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #5636a7;
}

.btn-secondary:hover {
    background-color: #8050c7;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
